<%- include('partials/header') -%>

    <div class="container">
        <div class="card border-0" style="background-color: #D3D3D3">
            <div class="card-body">
                <h2 class="card-title text-center">Your Questions</h2>

                <% currentUser.questionsaskedbyme.forEach(function(question){%>
                    <%-include('./partials/myquestion',{question, currentUser})%>
                    <%}); %>
            </div>
        </div>
    </div>



    <%- include('partials/footer') -%>